body {
    font-family: Helvetica, "Helvetica Neue", SansSerif;
}

#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#top{
    height: 135px;
    line-height: 135px;
}

#logo{
    height: 135px;
}

#footer{
    height: 100px;
    line-height: 100px;
}

#sideBox{
    padding: 18px;
}

#mainImage{
    background-image: url("../images/browser.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#calltoaction{
    height: 700px;
    width: 960px;
}

#calltoactionText{
    position: relative;
}

#calltoactionText h1, h3{
    position: relative;
    top: 300px;
}

#table{
    margin-bottom: 120px;
}

.blackBackground{
    background-color: black;
}

.blueText{
    color: blue;
}

.whiteText{
    color: white;
}

.goldenSmall{
    width: 329px;
}

.goldenBig{
    width: 600px;
}

.wrapperPaddingRight{
    padding-right: 31px;
}

.displayInline{
    display: inline;
}

.textRight{
    text-align: right;
}

.texCenter{
    text-align: center;
}

.floatLeft{
    float: left;
}

.clearFix{
    clear: both;
}

.alignCenter{
    text-align: center;
}

.clearMargin{
    margin: 0px;
}

.clearPadding{
    padding: 0px;
}

.thinBorder{
    border: 1px black solid;
}

.contentMargin{
    margin-left: 31px;
    margin-right: 31px;
}

.contentText{
    margin-left: 31px;
}

.marginCenter{
    margin-right: auto;
    margin-left: auto;
}

.column {
    float: left;
    width: 33.33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

a:link, a:visited {
    text-decoration: none;
    text-decoration-color: black;
}


.timelineSpacing {
    box-sizing: border-box;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.timelineContainer {
    padding: 10px 30px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.timelineContainer::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: whitesmoke;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.timelineLeft {
    left: 0;
}

.timelineRight {
    left: 50%;
}

.timelineLeft::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid black;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent black;
}

.timelineRight::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid black;
    border-width: 10px 10px 10px 0;
    border-color: transparent black transparent transparent;
}

.timelineRight::after {
    left: -16px;
}

.timelineContent {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}